@import "modules/color";
@import "modules/table";
@import "modules/person";

html, body {
  font-family: sans-serif;
  background-color: $background-color;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: $font-stack;
}

h1 {
  color: $text-color;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
